/* TYPEFACES */
@font-face { /* title sans */
font-family: Bungee;
src: url(../fonts/Bungee_Hairline.ttf);
}
@font-face { /* header sans */
font-family: Oswald;
src: url(../fonts/Oswald_Regular.ttf);
}
@font-face {
font-family: Oswald_Light;
src: url(../fonts/Oswald_Light.ttf);
}
@font-face { /* heading serif */
font-family: RobotoSlab;
src: url(../fonts/RobotoSlab_Light.ttf);
}
@font-face {
font-family: RobotoSlab_Thin;
src: url(../fonts/RobotoSlab_Thin.ttf);
}
@font-face { /* body sans */
font-family: Quicksand_Light;
src: url(../fonts/Quicksand_Light.otf);
}
@font-face { /* body sans */
font-family: Roboto_Thin;
src: url(../fonts/Roboto_Thin.ttf);
}
@font-face {
font-family: Roboto_Light;
src: url(../fonts/Roboto_Light.ttf);
}

/* STYLES */
body {
    background-color: #323436;
    margin: 0;
}
h1   { /* thick yellow heading */
    color: #fbd562;
    font-family: RobotoSlab, Helvetica;
    font-size: 40px;
    margin: 0;
}
h3   { /* smaller vers. of thick yellow heading */
    color: #fbd562;
    font-family: RobotoSlab, Helvetica;
    font-size: 30px;
    margin: 0;
}
h2   { /* thin white heading */
    color: #f7f7f7;
    font-family: RobotoSlab_Thin, Helvetica;
    font-size: 40px;
    margin: 0;
}
p    {
    color: #f7f7f7;
    font-family: Roboto_Thin, Helvetica;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}
a    {
    text-decoration: none;
}
#actualbody {
    padding-top: 140px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

/* NAVIGATION BAR */
#div_navbar {
    display: block;
    position: fixed;
    top: 0;
}
.topnav {
    background-color: #ffb400;
    display: block;
    height: 100px;
    overflow: visible;
    position: fixed;
    width: 100%;
}
.topnav-links a {
    color: #2f2f2f;
    display: inline-block;
    float: right;
    font-family: Oswald;
    font-size: 22px;
    height: 60px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.topnav-links a:hover {
    background-color: #fbd562;
}
/* hide the <dropdown link that opens and closes the topnav on small screens> */
.topnav .burgerIcon {
    display: none;
}
/* When screen < 950 pixels wide, hide all topnav-links links except dropdown icon. */
@media screen and (max-width: 950px) {
  .topnav-links a {
    display: none;
  }
  .topnav a.burgerIcon {
    display: block;
    float: right;
    font-size: 41px;
    height: 76px;
    padding-top: 24px;
  }
}

/* NAVBAR DROPDOWN MENU */
.dropdown {
    float: right;
    overflow: hidden;
}
.dropdown .burgerIcon {
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    background-color: #ffb400;
    display: none;
    min-width: 160px;
    position: absolute;
    right: 0;
    top: 100px;
    z-index: 3;
}
.dropdown-content a {
    display: block;
    float: none;
    height: 45px;
    padding-top: 15px;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #fbd562;
}
.show {
    display: block;
}

/* FOOTER */
#footer {
    position: fixed;
    bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    background-color: #323436;
    text-align: center;
    color: #f7f7f7;
    font-family: Roboto_Thin, Helvetica;
    font-size: 13px;
}