

/* TYPEFACES */
@font-face { /* thin title sans */
font-family: Bungee;
src: url(../fonts/Bungee-Hairline.otf);
}
@font-face { /* thin body sans */
font-family: Quicksand_Light;
src: url(../fonts/Quicksand_Light.otf);
}
@font-face { /* funky condensed body sans */
font-family: Oswald;
src: url(../fonts/Oswald-Regular.ttf);
}
@font-face {
font-family: Oswald_Light;
src: url(../fonts/Oswald-Light.ttf);
}
@font-face { /* thin body sans */
font-family: Roboto_Thin;
src: url(../fonts/Roboto-Thin.ttf);
}
@font-face {
font-family: Roboto_Light;
src: url(../fonts/Roboto-Light.ttf);
}
@font-face { /* light girly modern serif */
font-family: RobotoSlab;
src: url(../fonts/RobotoSlab-Light.ttf);
}
@font-face { /* thinner vers */
font-family: RobotoSlab_Thin;
src: url(../fonts/RobotoSlab-Thin.ttf);
}



/* STYLES */
body {
    background-color: #323436;
    margin: 0;
}
h1   { /* heading */
    color: #fbd562;
    font-family: RobotoSlab, Helvetica;
    font-size: 40px;
    margin: 0;
}
h2   { /* small heading */
    color: #f7f7f7;
    font-family: RobotoSlab_Thin, Helvetica;
    font-size: 40px;
    margin: 0;
}
p    {
    color: #f7f7f7;
    font-family: Roboto_Thin, Helvetica;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}
a {
    text-decoration: none;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    background-color: #323436;
    text-align: center;
    color: #f7f7f7;
    font-family: Roboto_Thin, Helvetica;
    font-size: 13px;
}


/* NAVIGATION BAR */
.navbar {
    list-style-type: none;
    background-color: #ffb400;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0; 
    width: 100%;
    height: 100px;
    text-align: center;
    font-family: Oswald;
    font-size: 22px;
}
.navbar li{
    display: inline; /* force block-level lis to stack rather than occupy 100% width */
}
/* Links inside the navbar */
.navbar a {
    display: inline-block; /* make sure links don't break onto new lines */
    color: #2f2f2f;
    text-decoration: none;
}
.navbarlinks {
    float: right;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    height: 40px;
    background-color: #ffb400;
    text-align: center;
}
.navbarlinks:hover {
    background-color: #fbd562;
}
#title {
    float: left;
    margin-left: 12px;
    text-decoration: none;
    font-family: Bungee, Helvetica;
    font-size: 82px;
    color: #ffffff;
}
#actualbody {
    margin-left: 100px;
    margin-right: 100px;
}




/* INPUT LISTS */
#countryA {
    height: 40px;
    width: 370px;
    padding-left: 10px;
    font-family: Roboto_Light, Helvetica;
    font-size: 20px;
}
#countryB {
    height: 40px;
    width: 370px;
    padding-left: 10px;
    font-family: Roboto_Light, Helvetica;
    font-size: 20px;
}
#button_compare {
    background-color: #fbd562;
    border: none;
    border-radius: 2px;
    box-shadow: 6px 6px 3px 0 #202020;

    height: 45px;

    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;

    color: #28292b;
    font-family: Oswald, Helvetica;
    font-size: 18px;

    /* hover transition time */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#button_compare:hover {
    background-color: #ffca00;
    color: #202020;
}
#button_compare:focus {outline:0;}




/* TABLE */
#outputTable {
    border: 3px solid #ffca00;
    width: 100%;
    background-color: #5a5c5e;
    color: #ffca00;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
    /* header */
th {
    font-family: RobotoSlab;
    font-size: 40px;
    padding-right: 50px;
}
    /* cell */
td {
    font-family: Roboto_Thin;
    font-size: 18px;
    color: #f7f7f7;
    padding-left: 10px;
    padding-right: 10px;
}
td:nth-child(1) {
    color: #ffca00;
    font-family: Roboto_Light;
}
    /* row */
tr {
    height: 50px;
    text-align: left;
}
tr:nth-child(even) {background-color: #46484a}




#map {
        height: 490px;
        width: 100%;
        top: 100px;
       }




.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 320px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
    background-color:rgba(33, 33, 33, 0.65);
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    width: 60%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modalCountryName
{
    color: #ffca00;
    font-family: RobotoSlab;
    font-size: 40px;
}
#modalVoltage
{
    color: #f7f7f7;
    font-family: Roboto_Light;
    font-size: 18px;
}
#modalFreq
{
    color: #f7f7f7;
    font-family: Roboto_Light;
    font-size: 18px;
}
#modalPlug
{
    color: #f7f7f7;
    font-family: Roboto_Light;
    font-size: 18px;
}