

/* TYPEFACES */
@font-face { /* thin title sans */
font-family: Bungee;
src: url(../fonts/Bungee-Hairline.otf);
}
@font-face { /* thin body sans */
font-family: Quicksand_Light;
src: url(../fonts/Quicksand_Light.otf);
}
@font-face { /* funky condensed body sans */
font-family: Oswald;
src: url(../fonts/Oswald-Regular.ttf);
}
@font-face { /* above, but light */
font-family: Oswald_Light;
src: url(../fonts/Oswald-Light.ttf);
}
@font-face { /* thin body sans */
font-family: Roboto_Thin;
src: url(../fonts/Roboto-Thin.ttf);
}
@font-face { /* the heavier version */
font-family: Roboto_Light;
src: url(../fonts/Roboto-Light.ttf);
}
@font-face { /* light girly modern serif */
font-family: RobotoSlab;
src: url(../fonts/RobotoSlab-Light.ttf);
}



/* STYLES */
body {
    background-color: #323436;
    margin-left: 100px;
    margin-right: 100px;
}
    /* title */
h1   {
    color: #f7f7f7;
    font-family: Bungee, Helvetica;
    font-size: 82px;
    margin: 30px;
}
    /* small heading */
h2   {
    color: #f7f7f7;
    font-family: RobotoSlab, Helvetica;
    font-size: 40px;
    margin: 0;
}
p    {
    color: #f7f7f7;
    font-family: Roboto_Thin, Helvetica;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}




/* NAVIGATION BAR */
    /* The navbar container */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffb400;
    text-align: center;
    font-family: Oswald;
    font-size: 22px;
}

    /* \Remove the line breaks before and after each 
    list item to display them on one line */
li {
    display: inline;
}

li a {
    display: inline-block;
    color: #2f2f2f;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}

    /* Change the link color on hover */
li a:hover {
    background-color: #fbd562;
}
    /* Active panel colour */
.active {
    background-color: #4CAF50;
}



/* INPUT LISTS */
#countryA {
    height: 40px;
    width: 370px;
    margin-left: 14px;
    margin-right: 40px;
    padding-left: 10px;
    font-family: Roboto_Light, Helvetica;
    font-size: 20px;
}
#countryB {
    height: 40px;
    width: 370px;
    margin-left: 14px;
    padding-left: 10px;
    font-family: Roboto_Light, Helvetica;
    font-size: 20px;
}
#button_compare {
    background-color: #fbd562;
    border: none;
    border-radius: 2px;
    box-shadow: 6px 6px 3px 0 #202020;

    height: 45px;

    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;

    color: #28292b;
    font-family: Oswald, Helvetica;
    font-size: 18px;

    /* hover transition time */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#button_compare:hover {
    background-color: #ffca00;
    color: #202020;
}


/* TABLE */
#outputTable {
    border: 3px solid #ffca00;
    width: 100%;
    background-color: #5a5c5e;
    color: #ffca00;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
    /* header */
th {
    font-family: RobotoSlab;
    font-size: 40px;
}
    /* cell */
td {
    font-family: Roboto_Thin;
    font-size: 18px;
    color: #f7f7f7;
}
td:nth-child(1) {
    color: #ffca00;
    font-family: Roboto_Light;
}
    /* row */
tr {
    height: 50px;
    text-align: left;
}
tr:nth-child(even) {background-color: #46484a}

#map {
        height: 480px;
        width: 100%;
       }

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 300px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#modalCountryName
{
    color: blue;
}
#modalFreq
{
    color: green;
}
#modalVoltage
{
    color: greenyellow;
}
#modalPlug
{
    color: red;
}