
/* INPUT LISTS */
#countryA {
    height: 40px;
    width: 370px;
    padding-left: 10px;
    font-family: Roboto_Light, Helvetica;
    font-size: 20px;
}
#countryB {
    height: 40px;
    width: 370px;
    padding-left: 10px;
    font-family: Roboto_Light, Helvetica;
    font-size: 20px;
}
#button_compare {
    background-color: #fbd562;
    border: none;
    border-radius: 2px;
    box-shadow: 6px 6px 3px 0 #202020;

    height: 45px;

    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;

    color: #28292b;
    font-family: Oswald, Helvetica;
    font-size: 18px;

    /* hover transition time */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#button_compare:hover {
    background-color: #ffca00;
    color: #202020;
}
#button_compare:focus {outline:0;}





/* TABLE */
#outputTable {
    border: 3px solid #ffca00;
    width: 100%;
    background-color: #5a5c5e;
    color: #ffca00;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
    /* header */
th {
    font-family: RobotoSlab;
    font-size: 40px;
    padding-right: 50px;
}
    /* cell */
td {
    font-family: Roboto_Thin;
    font-size: 18px;
    color: #f7f7f7;
    padding-left: 10px;
    padding-right: 10px;
}
td:nth-child(1) {
    color: #ffca00;
    font-family: Roboto_Light;
}
    /* row */
tr {
    height: 50px;
    text-align: left;
}
tr:nth-child(even) {background-color: #46484a}




