

/* TYPEFACES */
@font-face { /* thin title sans */
font-family: Bungee;
src: url(../fonts/Bungee-Hairline.otf);
}
@font-face { /* thin body sans */
font-family: Quicksand_Light;
src: url(../fonts/Quicksand_Light.otf);
}
@font-face { /* funky condensed body sans */
font-family: Oswald;
src: url(../fonts/Oswald-Regular.ttf);
}
@font-face { /* above, but light */
font-family: Oswald_Light;
src: url(../fonts/Oswald-Light.ttf);
}
@font-face { /* thin body sans */
font-family: Roboto_Thin;
src: url(../fonts/Roboto-Thin.ttf);
}
@font-face { /* light girly modern serif */
font-family: RobotoSlab;
src: url(../fonts/RobotoSlab-Light.ttf);
}



/* STYLES */
body {
    background-color: #323436;
    margin-left: 100px;
    margin-right: 100px;
}
    /* title */
h1   {
    color: #f7f7f7;
    font-family: Bungee, Helvetica;
    font-size: 82px;
    margin: 30px;
}
    /* small heading */
h2   {
    color: #f7f7f7;
    font-family: RobotoSlab, Helvetica;
    font-size: 40px;
    margin: 0;
}
p    {
    color: #f7f7f7;
    font-family: Roboto_Thin, Helvetica;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}




/* NAVIGATION BAR */
    /* The navbar container */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffca00;
    text-align: center;
    font-family: Oswald;
    font-size: 22px;
}

    /* \Remove the line breaks before and after each 
    list item to display them on one line */
li {
    display: inline;
}

li a {
    display: inline-block;
    color: #2f2f2f;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}

    /* Change the link color on hover */
li a:hover {
    background-color: #fbd562;
}
    /* Active panel colour */
.active {
    background-color: #4CAF50;
}


/* TABLE */
#outputTable
{
    border: 3px solid #ffca00;
    width: 100%;
    background-color: #5a5c5e;
    color: #ffca00;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
    /* header */
th {
    font-family: Oswald_Light;
    font-size: 40px;
}
    /* cell */
td {
    font-family: Roboto_Light;
    font-size: 18px;
}
    /* row */
tr {
    height: 50px;
    text-align: left;
}
tr:nth-child(even) {background-color: #46484a}