
/* TYPEFACES */
@font-face {
font-family: Bungee;
src: url(../fonts/Bungee-Hairline.otf);
}
@font-face {
font-family: Quicksand_Light;
src: url(../fonts/Quicksand_Light.otf);
}

/* STYLES */
body {
    background-color: #323436;
}
h1   {
    color: #f7f7f7;
    font-family: Bungee, Helvetica;
    font-size: 82px;
    margin: 30px;
}
p    {
    color: #f7f7f7;
    font-family: Quicksand_Light, Helvetica;
    font-size: 20px;
}

/* NAVIGATION BAR */
/* The navbar container */
ul {
    list-style-type: none;
    margin: 0;
    margin-left: 200px;
    margin-right: 200px;
    padding: 0;
    overflow: hidden;
    background-color: #4c4f51;
    text-align: center;
    font-family: Quicksand_Light;
    font-size: 20px;
}

/* \Remove the line breaks before and after each 
list item to display them on one line */
li {
    display: inline;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #2b2a2a;
}
/* Active panel colour */
.active {
    background-color: #4CAF50;
}